# Sensitive files
.env
.env.development
.env.staging
core/config/secret.key
user_config.db

# Vercel
.vercel

# Next.js build output
stack-auth-nextjs/.next/

# Node modules
node_modules/

# OS files
.DS_Store

# IDE files
.idea
.vscode

# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug symbols
cython_debug/

# Project-specific ignores
post-once-web-app/
post-once-web-app-backup/
post-once-web-app-new/

# Airflow
airflow/logs/
airflow/dags/example_dags/

# Vercel
.vercel/

# macOS
.DS_Store

# Submodules (if they're not meant to be part of this repo)
post-once-web-app-backup/
post-once-web-app-new/

temp_images

outreach_image_generator