aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
async-timeout
attrs
beautifulsoup4
cachetools
certifi
cffi
chardet
charset-normalizer
click
cryptography
cssselect
deprecation
distro
exceptiongroup
fastapi
feedfinder2
feedparser
filelock
frozenlist
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
jieba3k
jiter
joblib
jwt
lxml
lxml_html_clean
multidict
newspaper3k
nltk
oauthlib
openai
packaging
pillow
postgrest
propcache
psycopg2-binary
pycparser
pydantic
pydantic_core
python-dateutil
python-dotenv
PyYAML
realtime
regex
reportlab
requests
requests-file
requests-oauthlib
sgmllib3k
six
sniffio
soupsieve
starlette
storage3
StrEnum
supabase
supafunc
tenacity
tinysegmenter
tldextract
tqdm
typing_extensions
urllib3
uvicorn
websockets
yarl